version: '3.8'

services:
  app:
    build: .
    container_name: uploade_app
    restart: always
    ports:
      - "80:8000"
      - "8000:8000"
    volumes:
      - /app:/app
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
